<div class="card-footer">

  <%= link_to_if liked?(function, current_user), icon('fas fa-thumbs-up') + 'Like', user_function_like_path(user_id: function.user, function_id: function), class: 'card-footer-item', method: :delete do  %>
    <%= link_to icon('far fa-thumbs-up') + 'Like', user_function_like_path(user_id: function.user, function_id: function), class: 'card-footer-item has-text-grey', method: :post  %>
  <% end %>

  <%= link_to icon('far fa-comment') + 'Comment', '#comment', class: "card-footer-item"  %>

  <%= link_to_if saved?(function, current_user), icon('fas fa-bookmark') + 'Save',  user_function_save_path(function_id: function, user_id: function.user), method: :delete, class: 'card-footer-item' do %>
    <%= link_to icon('far fa-bookmark') + 'Save', user_function_save_path(function_id: function, user_id: function.user), method: :post , class: 'card-footer-item has-text-grey' %>
  <% end %>

</div>
