<% full ||= false %>

<div class="card is-shadowless <%= 'is-clipped' unless full %> m-b-md" tabindex="0">
  <header class="card-header is-shadowless">
    <div class="card-header-title">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <%= link_to image_tag(user_image_url(function.user), class: 'is-rounded'), user_functions_path(function.user) %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5">
            <%= link_to function.name, [function.user, function] %>
          </p>
          <p class="subtitle is-6">
            <%= link_to function.user.name, user_functions_path(function.user) %>
            <small class="has-text-grey-light"> 路 @<%= function.user.username %> 路 <%= distance_of_time_in_words_to_now function.created_at %></small>
          </p>
        </div>
      </div>
    </div>

  </header>

  <div class="card-content">
    <div class="content">
      <%= render_markdown function.usage %>
    </div>
  </div>

  <%= render_code function.code if full %>

  <div class="card-content has-text-grey-light">
    <small>
      <i class="fas fa-thumbs-up"></i> <%= function.likes.size %> 路
      <i class="fas fa-comment"></i> <%= function.comments.size %> 路
      <i class="fas fa-bookmark"></i> <%= function.saves.size %>
    </small>
    <% unless full %>
      <%= link_to [function.user, function], class: 'button is-pulled-right is-small is-link' do %>
        <span> Show code </span>
        <%= icon('fas fa-code') %>
      <% end %>
    <% end %>
    <div class="is-clearfix"></div>
  </div>

  <%= render 'functions/function_footer', function: function if current_user && full %>
</div>
