<% full ||= false %>

<div class="card <%= 'is-clipped' unless full %> m-b-md" tabindex="0">
  <header class="card-header is-shadowless">
    <div class="card-header-title">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <%= link_to user_functions_path(function.user) do %>
              <%= image_tag user_image_url(function.user), class: 'is-rounded' %>
            <% end %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5">
            <%= link_to [function.user, function] do %>
              <%= function.name %>
            <% end %>
          </p>
          <p class="subtitle is-6">
            <%= link_to user_functions_path(function.user) do %>
              <%= function.user.name %>
            <% end %>
            <small class="has-text-grey-light"> · @<%= function.user.username %> · <%= distance_of_time_in_words_to_now function.created_at %></small>
          </p>
        </div>
      </div>
    </div>

    <%= link_to edit_user_function_path(function.user, function), class: 'card-header-icon' do %>
      <span class="icon"> <i class="fas fa-edit"></i> </span>
    <% end if can?(function, :edit) %>

    <%= link_to [function.user, function], method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-header-icon has-text-danger' do %>
      <span class="icon"> <i class="fas fa-trash"></i> </span>
    <% end if can?(function, :destroy) %>

    <% if current_user && saved?(current_user, function) %>
      
      <%= link_to user_function_save_path(function_id: function, user_id: function.user), method: :delete, class: 'has-text-danger card-header-icon' do %>
        <span class="icon" > <i class="fas fa-bookmark"></i> </span>
      <% end %>
    
    <% else %>     
      
      <%= link_to user_function_save_path(function_id: function, user_id: function.user), method: :post , class: 'card-header-icon' do %>
        <span class="icon"> <i class="far fa-bookmark"></i> </span>
      <% end %>

    <% end %>

    <% unless full %>
      <div class="card-header-icon">
        <%= link_to [function.user, function], class: 'button is-link' do %>
          <span> Show code </span>
          <span class="icon"> <i class="fas fa-code"></i> </span>
        <% end %>
      </div>
    <% end %>
  </header>

  <div class="card-content">
    <%= simple_format function.usage %>
  </div>

  <%= render_code function.code if full %>

  <div class="card-content has-text-grey-light">
    <small>
    <i class="fas fa-thumbs-up"></i> <%= function.likes.count %> ·
    <i class="fas fa-comment"></i> <%= function.comments.count %>
    </small>
  </div>

  <%= render 'function_footer', function: function if current_user && full %>
</div>
