<div>
  <% if notification.type == 'Notification::Liked' %>
    <%= link_to notification.actor.name, user_functions_path(notification.actor) %>
    <%= notification.type.split('::').last.downcase %>
    <%= link_to notification.notifiable.name, user_function_path(notification.notifiable.user, notification.notifiable) %>
  <% else %>
    <%= link_to notification.actor.name, user_functions_path(notification.actor) %>
    <%= notification.type.split('::').last.downcase %> on
    <%= link_to notification.notifiable.name, user_function_path(notification.notifiable.user, notification.notifiable) %>
  <% end %>
</div>