<div class="tabs">
  <ul>
    <% if current_page?(controller: 'functions', action: 'index')%>
      <li class="is-active">
    <% else %>
      <li>
    <% end %>
    <%= link_to user_functions_path(user), title: 'Published functions' do %>
      Published functions (<%= user.functions.size %>)
    <% end %>
    </li>

    <% if current_page?(controller: 'saves', action: 'index')%>
      <li class="is-active">
    <% else %>
        <li>
    <% end %>
    <%= link_to user_saves_path(user), title: 'Saved functions' do %>
      Saved Functions (<%= user.saves.size %>)
    <% end %>
    </li>


    <% if current_page?(controller: 'followerships', action: 'index', relationship: :followers)%>
      <li class="is-active">
    <% else %>
        <li>
    <% end %>
    <%= link_to user_followerships_path(user, relationship: :followers), title: 'Followers' do %>
      Followers (<%= user.followers.size %>)
    <% end %>
    </li>

    <% if current_page?(controller: 'followerships', action: 'index', relationship: :followees)%>
      <li class="is-active">
    <% else %>
      <li>
    <% end %>
    <%= link_to user_followerships_path(user, relationship: :followees), title: 'Followees' do %>
      Followees (<%= user.followees.size %>)
    <% end %>
    </li>
  </ul>
</div>
