<div class="card m-b-md is-shadowless">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <%= link_to image_tag(user_image_url(user)), user_functions_path(user) %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
          <%= link_to user.name, user_functions_path(user) %>
        </p>
        <p class="subtitle is-6">
          <%= link_to user_github_account_url(user),  target: "_blank" do %>
            @<%= user.username %>
          <% end %>
        </p>
        
        <% unless current_user.nil? || user.id == current_user.id %> 
          <% text = current_user.following?(user.id) ? "Unfollow" : "Follow" %>
          <% method = current_user.following?(user.id) ? :delete : :post %>
          <%= form_with model: current_user.followings.new(followee: user), method: method.to_sym, local: true do |form| %>
            <%= form.hidden_field :followee_id %>
            <%= form.submit text, class: "button has-text" %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
