<div class="box is-shadowless">
  <article class="media">
    <div class="media-left">
      <figure class="image is-48x48">
        <%= image_tag user_image_url(comment.user), class: 'is-rounded' %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <%= link_to comment.user.name, user_functions_path(comment.user) %>
        <small class="has-text-grey-light">
          · @<%= comment.user.username %>
          · <abbr title="<%= comment.created_at %>">
              <%= link_to distance_of_time_in_words_to_now(comment.created_at), user_function_path(user_id: comment.function.user, id: comment.function, anchor: comment.id), class: 'has-text-grey-light', id: comment.id %>
            </abbr>
          <%= link_to icon('fas fa-edit'), edit_user_function_comment_path(user_id: comment.function.user, function_id: comment.function, id: comment) if can?(comment, :edit) %>
          <%= link_to icon('fas fa-trash'), [comment.function.user, comment.function, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'has-text-danger' if can?(comment, :destroy) %>
        </small>
      </div>

      <div class="content">
        <%= render_markdown comment.content %>
      </div>
    </div>
  </article>
</div>
