<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <%= image_tag user_image_url(comment.user), class: 'is-rounded' %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">

        <p>
          <%= link_to comment.user.name, user_functions_path(comment.user) %>
          <small class="has-text-grey-light">
            · @<%= comment.user.username %>
            · <%= distance_of_time_in_words_to_now comment.created_at %>
            <%= link_to_if can?(comment, :destroy), icon('fas fa-trash'), [comment.function.user, comment.function, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'has-text-danger' %>
          </small>
        </p>

        <p> <%= simple_format comment.content %> </p>
      </div>
    </div>
  </article>
</div>
