<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag 'logo.svg' %>
    <% end %>

    <%= link_to root_path, class: 'navbar-item is-paddingless' do %>
      <strong>RUBY FUNCTIONS</strong>
    <% end %>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">

    <div class="navbar-end">
      <% if current_user %>
        <div class="navbar-item">

          <div class="media button">
            <div class="media-content">
              <%= link_to current_user.name, user_functions_path(current_user) %>
            </div>
            <div class="media-right">
              <figure class="image is-24x24">
                <%= link_to user_functions_path(current_user) do %>
                  <%= image_tag user_image_url(current_user) %>
                <% end %>
              </figure>
            </div>
          </div>

        </div>
      <% end %>

      <div class="navbar-item">
        <div class="control">

          <% if current_user %>

            <%= link_to new_user_function_path(current_user), class: 'button is-link' do %>
              <span>New function</span>
              <%= icon('fas fa-plus') %>
            <% end %>

            <%= link_to session_path, method: :delete, class: 'button has-text-danger' do %>
              <span>Logout</span>
              <%= icon('fas fa-power-off') %>
            <% end %>
          <% else %>

            <%= link_to "https://github.com/login/oauth/authorize?client_id=#{ENV["GITHUB_CLIENT_ID"]}", class: 'button' do %>
              <%= icon('fab fa-github') %>
              <span>Login with Github</span>
            <% end %>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</nav>
