<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Ruby Functions</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <section class="section">

        <div class="columns">
          <div class="column is-one-fifth"> <%= render 'layouts/menu' %> </div>
          <div class="column">
            <%= render 'layouts/notice', notice: notice if notice %>
            <%= render 'layouts/alert', alert: alert if alert %>
            <%= yield %>
          </div>
        </div>

      </section>
  </body>
</html>
